{% extends 'base.html.jinja' %}

{% block title %}Calendar{% endblock %}

{% block content %}
  <div class="box">
    <iframe
      src="https://calendar.google.com/calendar/embed?src=c_7b5576c9632f1b5903e358efcf64c21f1a7d210380cd4ef4ce1c2de00c2ac78d%40group.calendar.google.com&ctz=America%2FNew_York"
      style="border: 0; width: 100%; height: 700px;"
      frameborder="0"
      scrolling="no"
      title="2399 Team Calendar"
      loading="lazy"
    ></iframe>
  </div>
{% endblock %}
