<!-- templates/display.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ data.name }}</title>
</head>
<h1>{{ data.name }}</h1>
<h2>JV Requirement</h2>
<body>
    Pre-Season [September-November]: {{ data.pre_hrs }} / {{ data.pre_target }}<br>
    Build Season [January-February]: {{ data.build_hrs }} / {{ data.jv_build }}<br>
</body>
<h2>Varsity Requirement</h2>
<body>
    Pre-Season [September-November]: {{ data.pre_hrs }} / {{ data.pre_target }}<br>
    Build Season [January-February]: {{ data.build_hrs }} / {{ data.v_build }}<br>
    Total Tech Hours: {{ data.tech_hrs }} / {{ data.tech_target }}<br>
    <br>
    Outreach Hours: {{ data.outreach_hrs }} / {{ data.outreach_target }}<br>
    Business Objectives: {{ data.biz_obj }} / 3<br>
</body>
<h2>Honors Recognition</h2>
<body>
    Total Tech Hours: {{ data.tech_hrs }} / 250<br>
    Outreach Hours: {{ data.outreach_hrs }} / 35<br>
    Outreach Event Coordinator: {{ data.outreach_ec }}<br>
    Business Objectives: {{ data.biz_obj }} / 6<br>
</body>
<body>
    <button onclick="goHome()">Return to Search</button>
</body>
<script>
    function goHome() {
        window.location.href = "/";
    }
</script>
</html>